{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/restauranteSingle.css">
<link rel="stylesheet" href="/public/css/platoSingle.css">
<link rel="stylesheet" href="/public/css/comentarios.css">
<link rel="stylesheet" href="/public/css/formulario_newuser.css">
<script src="/public/script/formNewPlato.js"></script>
<script src="/public/script/tabs.js"></script>
<script src="/public/script/modal.js"></script>


{% endblock %}
{% block title %}NUEVO PLATO{% endblock %}
{% block header %}

{% endblock %} 

{% block main %}
<form id="regForm" method="post">
  <h3 id="idSitio">{{ datos.idSitio }} </h3>
  <h3>{{ datos.NameSitio }}</h3>
  <h3>NUEVO PLATO:</h3>
  <div id="messageBox"></div>

  <fieldset>
    <legend>Información del Plato</legend>
    <label for="namePlato">Nombre del Plato:</label>
    <input class="caja-texto" id="namePlato" type="text" name="namePlato" value="" placeholder="Nombre de Sitio" required />
    <label for="subject">Descripcion:*</label>
    <textarea id="subject" name="subject" placeholder="Escriba algo" style="height:170px" required></textarea>
    <label for="namePrecio">Precio:</label>
    <input class="caja-texto" id="namePrecio" type="text" name="namePrecio" value="" placeholder="Precio" required />
  </fieldset>
  <fieldset>
    <legend>Información Nutricional</legend>
    <label for="InformaciónPeso">Peso:</label>
    <input class="caja-texto" id="InformaciónPeso" type="text" name="InformaciónPeso" value="" placeholder="Peso" required />
    <label for="InformaciónEnergia">Energia:</label>
    <input class="caja-texto" id="InformaciónEnergia" type="text" name="InformaciónEnergia" value="" placeholder="Energia" required />
    <label for="InformaciónCarbohidratos">Carbohidratos:</label>
    <input class="caja-texto" id="InformaciónCarbohidratos" type="text" name="InformaciónCarbohidratos" value="" placeholder="Carbohidratos" required />
    <label for="InformaciónProteina">Proteina:</label>
    <input class="caja-texto" id="InformaciónProteina" type="text" name="InformaciónProteina" value="" placeholder="Proteina" required />
    <label for="InformaciónGrasas">Grasas Totales:</label>
    <input class="caja-texto" id="InformaciónGrasas" type="text" name="InformaciónGrasas" value="" placeholder="Grasas Totales" required />
    <label for="InformaciónSodio">Sodio:</label>
    <input class="caja-texto" id="InformaciónSodio" type="text" name="InformaciónSodio" value="" placeholder="Sodio" required />
  </fieldset>

  <fieldset>
    <legend>Ingredientes</legend>
    <label class="heading">Seleccione las caracteristicas del Plato:</label>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="5">Contiene Sal</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="1">Con Tacc</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="4">Alto Contenido de Azucares </label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="3">Plato Vegetariano</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="2">Contiene Picante</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="caracteristicas[]" value="6">Contiene Lacteos</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Imagenes</legend>
    <label for="archivosubido">Imagenes del Sitio:</label>
        <input id="archivosubido[]" type="file" name="archivosubido"  accept="image/jpeg">
  </fieldset>
  <input class="input-enviar" onclick="validarRegistro();" type="button" value="Enviar" name="Enviar" />
</form>
  {% endblock %}