{% extends "base.html" %} {% block head %} {{ parent() }}

<script src="/public/script/validar_form_plato.js"></script>

{% endblock %} {% block title %}Nuevo Plato-{{ datos.NameSitio }}{% endblock %} {% block header %}{{
parent() }}{% endblock %} {% block main %}
<form
  id="regForm"
  enctype="multipart/form-data"
  method="post"
  class="contenedor formulario"
  name="formCuenta"
  action="/plato/CreatePlato"
>
  <h3 class="title" id="idSitio">{{ datos.idSitio }}-{{ datos.NameSitio }}</h3>
  <h3 class="title">NUEVO PLATO:</h3>
  <div id="messageBox"></div>
  <input
        class="caja-texto"
        id="idSitio"
        type="text"
        name="idSitio"
        value="{{ datos.idSitio }}"
        hidden
        readonly
      />
  <fieldset>
    <legend class="title">Información del Plato</legend>
    <div class="input-group">
      <label for="namePlato">Nombre del Plato:</label>
      <input
        class="caja-texto {{datos['form'][0].estado}} "
        id="namePlato"
        type="text"
        name="namePlato"
        value="{{datos['form'][0].input}}"
        placeholder="Nombre de Plato"
        minlength="4"
        maxlength="20"
        required
      />
      <span id="help-namePlato" class="error-text">{{datos['form'][0].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="subject">Descripción:*</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Escriba algo"
        rows="94"
        cols="50"
        required
        minlength="4"
        maxlength="2000"
        class="caja-texto {{datos['form'][1].estado}} "
      >{{datos['form'][1].input}}</textarea>
      <span id="help-subject" class="error-text">{{datos['form'][1].mensaje}}</span>
    </div>
  </fieldset>
  <fieldset>
    <legend class="title">Información Nutricional</legend>
    <div class="input-group">
      <label for="InformaciónPeso">Peso:</label>
      <input
      class="caja-texto {{datos['form'][2].estado}} "
        id="InformaciónPeso"
        type="number"
        name="InformaciónPeso"
        value="{{datos['form'][2].input}}"
        placeholder="Peso"
        min="0.10"
        step="0.10"
        required
      />
      <span id="help-InformaciónPeso" class="error-text">{{datos['form'][2].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="InformaciónEnergia">Energia:</label>

      <input
      class="caja-texto {{datos['form'][3].estado}} "
        id="InformaciónEnergia"
        type="number"
        name="InformaciónEnergia"
        min="0.10"
        step="0.10"
        value="{{datos['form'][3].input}}"
        placeholder="Energia"
        required
      />
      <span id="help-InformaciónEnergia" class="error-text">{{datos['form'][3].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="InformaciónCarbohidratos">Carbohidratos:</label>

      <input
      class="caja-texto {{datos['form'][4].estado}} "
        id="InformaciónCarbohidratos"
        min="0.10"
        step="0.10"
        type="number"
        name="InformaciónCarbohidratos"
        value="{{datos['form'][4].input}}"
        placeholder="Carbohidratos"
        required
      />
      <span id="help-InformaciónCarbohidratos" class="error-text">{{datos['form'][4].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="InformaciónProteina">Proteína:</label>

      <input
      class="caja-texto {{datos['form'][5].estado}} "
        id="InformaciónProteina"
        min="0.10"
        step="0.10"
        type="number"
        name="InformaciónProteina"
        value="{{datos['form'][5].input}}"
        placeholder="Proteina"
        required
      />
      <span id="help-InformaciónProteina" class="error-text">{{datos['form'][5].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="InformaciónGrasas">Grasas Totales:</label>

      <input
      class="caja-texto {{datos['form'][6].estado}} "
      min="0.10"
        step="0.10"
        id="InformaciónGrasas"
        type="number"
        name="InformaciónGrasas"
        value="{{datos['form'][6].input}}"
        placeholder="Grasas Totales"
        required
      />
      <span id="help-InformaciónGrasas" class="error-text">{{datos['form'][6].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="InformaciónSodio">Sodio:</label>

      <input
      class="caja-texto {{datos['form'][7].estado}} "
        id="InformaciónSodio"
        min="0.10"
        step="0.10"
        type="number"
        name="InformaciónSodio"
        value="{{datos['form'][7].input}}"
        placeholder="Sodio"
        required
      />
      <span id="help-InformaciónSodio" class="error-text">{{datos['form'][7].mensaje}}</span>
    </div>
  </fieldset>

  <fieldset>
    <legend class="title">Ingredientes</legend>
    <div class="input-group">
      <label class="heading">Seleccione las caracteristicas del Plato:</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="5" />
          Contiene Sal
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="1" />
          Con Tacc
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="4" />
          Alto Contenido de Azucares
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="3" />
          Plato Vegetariano
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="2" />
          Contiene Picante
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="7" />
          Contiene Lacteos
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="title">Imagenes</legend>
    <div class="input-group">
      <label for="archivosubido">Imagenes del Plato:</label>
      <div id="preview"></div>
      <input
        id="archivosubido"
        type="file"
        name="archivosubido"
        accept="image/jpeg"
        required
      />

      <span id="help-archivosubido" class="error-text"></span>
    </div>
  </fieldset>
  <input class="input-enviar" type="submit" value="Enviar" name="Enviar" />
</form>
{% endblock %}
