{% extends "base.html" %} {% block head %} {{ parent() }}
<script src="/public/script/validar_form_plato.js"></script>

{% endblock %} {% block title %}NUEVO PLATO{% endblock %} {% block header %} {%
endblock %} {% block main %}
<form id="regForm" enctype="multipart/form-data" method="post" class="contenedor formulario">
  <h3 class="title" id="idSitio">{{ datos.idSitio }}-{{ datos.NameSitio }}</h3>
  <h3 class="title">NUEVO PLATO:</h3>
  <div id="messageBox"></div>

  <fieldset>
    <legend class="title">Información del Plato</legend>
    <div class="input-group">
      <label for="namePlato">Nombre del Plato:</label>
      <input class="caja-texto" id="namePlato" type="text" name="namePlato" value="" placeholder="Nombre de Sitio"
        onBlur="validarDatos('namePlato');" required      minlength="4" 
        maxlength="20"/>
      <span id="help-namePlato" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="subject">Descripción:*</label>

      <textarea id="subject" name="subject" placeholder="Escriba algo" style="height: 170px;"rows="4" cols="50"
         required minlength="4" 
        maxlength="400"></textarea>
      <span id="help-subject" class="error-text"></span>
    </div>
  </fieldset>
  <fieldset>
    <legend class="title">Información Nutricional</legend>
    <div class="input-group">
      <label for="InformaciónPeso">Peso:</label>
      <input class="caja-texto" id="InformaciónPeso" type="number" name="InformaciónPeso" value="0" placeholder="Peso"
        onBlur="validarDatos('InformaciónPeso');" min=0 step="0.10" required />
      <span id="help-InformaciónPeso" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="InformaciónEnergia">Energia:</label>

      <input class="caja-texto" id="InformaciónEnergia" type="number" name="InformaciónEnergia" min=0 step="0.10"
        value="0" placeholder="Energia" onBlur="validarDatos('InformaciónEnergia');" required />
      <span id="help-InformaciónEnergia" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="InformaciónCarbohidratos">Carbohidratos:</label>

      <input class="caja-texto" id="InformaciónCarbohidratos" min=0 step="0.10" type="number"
        name="InformaciónCarbohidratos" value="0" placeholder="Carbohidratos"
        onBlur="validarDatos('InformaciónCarbohidratos');" required />
      <span id="help-InformaciónCarbohidratos" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="InformaciónProteina">Proteína:</label>

      <input class="caja-texto" id="InformaciónProteina" min=0 step="0.10" type="number" name="InformaciónProteina"
        value="0" placeholder="Proteina" onBlur="validarDatos('InformaciónProteina');" required />
      <span id="help-InformaciónProteina" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="InformaciónGrasas">Grasas Totales:</label>

      <input class="caja-texto" min=0 step="0.10" id="InformaciónGrasas" type="number" name="InformaciónGrasas"
        value="0" placeholder="Grasas Totales" onBlur="validarDatos('InformaciónGrasas');" required />
      <span id="help-InformaciónGrasas" class="error-text"></span>
    </div>
    <div class="input-group">
      <label for="InformaciónSodio">Sodio:</label>

      <input class="caja-texto" id="InformaciónSodio" min=0 step="0.10" type="number" name="InformaciónSodio" value="0"
        placeholder="Sodio" onBlur="validarDatos('InformaciónSodio');" required />
      <span id="help-InformaciónSodio" class="error-text"></span>
    </div>
  </fieldset>

  <fieldset>
    <legend class="title">Ingredientes</legend>
    <div class="input-group">
      <label class="heading">Seleccione las caracteristicas del Plato:</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="5" />
          Contiene Sal
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="1" />
          Con Tacc
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="4" />
          Alto Contenido de Azucares
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="3" />
          Plato Vegetariano
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="2" />
          Contiene Picante
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="caracteristicas[]" value="7" />
          Contiene Lacteos
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="title">Imagenes</legend>
    <div class="input-group">
      <label for="archivosubido">Imagenes del Sitio:</label>

      <input id="archivosubido" type="file" name="archivosubido" accept="image/jpeg"
        onfocus="validarDatos('archivosubido');" />
      <span id="help-archivosubido" class="error-text"></span>
    </div>
  </fieldset>
  <input class="input-enviar" onclick="validarRegistro();" type="button" value="Enviar" name="Enviar" />
</form>
{% endblock %}