{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/restauranteSingle.css">
<link rel="stylesheet" href="/public/css/platoSingle.css">
<link rel="stylesheet" href="/public/css/comentarios.css">
<link rel="stylesheet" href="/public/css/form-newSitio.css">
<script src="/public/script/tabs.js"></script>
<script src="/public/script/modal.js"></script>

{% endblock %}
{% block title %}NUEVO SITIO{% endblock %}
{% block header %}
 
{% endblock %}

{% block main %}
<form id="regForm" action="">

  <h3>NUEVO SITIO:</h3>
  
  <!-- One "tab" for each step in the form: -->
  <div class="tab"><h3>Nombre</h3><hr class="separador">
    <dl class="detalles">
      <dt><label for="fname">Nombre*</label></dt>
      <dd> <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />       </dd>
      <dt><label for="fname">Descripcion*</label></dt>
      <dd class="ultimo"><textarea name="COMMENT" rows="10" cols="50" wrap="soft" placeholder="Máximo 1000 carácteres" maxlength="1000" required></textarea> </dd>
    </dl>
  </div>
  
  <div class="tab"> <h3>Contacto</h3><hr class="separador"> 
    <section >
        <dl class="detalles">
          <dt>Direccion</dt>
          <dd> <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />     </dd>
          <dt>Ubicacion</dt>
          <dd> <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />     </dd>
          <dt>Horario</dt>
          <dd> <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />     </dd>
          <dt>Telefono</dt>
          <dd class="ultimo"> <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />     </dd>
        </dl>
    </section>      
  </div>
  
  <div class="tab">Imagenes:
    <label>Choose Images</label>
    <input type="file" name="images[]" id="fileInput" multiple >
    <input type="submit" name="submit" value="UPLOAD"/>
  </div>
  
  <div class="tab">Locaclizacion:
    <div class="mapa">
      <iframe class="iframe"src="https://www.openstreetmap.org/export/embed.html?bbox=-59.319992065429695%2C-35.02085912032271%2C-59.25424575805664%2C-34.98078374541327"></iframe>
    </div>
  </div>

  <div class="tab">Locaclizacion:
    <div class="mapa">
      <iframe class="iframe"src="https://www.openstreetmap.org/export/embed.html?bbox=-59.319992065429695%2C-35.02085912032271%2C-59.25424575805664%2C-34.98078374541327"></iframe>
    </div>
  </div>
  
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  
  </form>
{% endblock %}
