{% extends "base.html" %} {% block head %} {{ parent() }}

<script src="/public/script/formNewSitio.js"></script>

<link rel="stylesheet" href="/public/css/near-sitios.css" />
<script src="/public/script/mapa.js"></script>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css"> 

{% endblock %} {% block title %}NUEVO SITIO{% endblock %} {% block main %}
<form
  class="contenedor formulario"
  id="regForm"
  name="regForm"
  enctype="multipart/form-data"
  method="post"
>
  <h3 class="title">NUEVO SITIO:</h3>
  <div id="messageBox"></div>

  <fieldset>
    <legend class="title">Información del Sitio</legend>
    <label for="nameSitio">Nombre de Sitio:</label>
    <input
      class="caja-texto"
      id="nameSitio"
      type="text"
      name="nameSitio"
      value=""
      placeholder="Nombre de Sitio"
      required
      onfocusout="validarDatos('nameSitio');"
    />
    <label for="subject">Descripcion:*</label>
    <textarea
      id="subject"
      name="subject"
      placeholder="Escriba algo"
      onfocusout="validarDatos('subject');"
      required
    ></textarea>
  </fieldset>

  <fieldset>
    <legend class="title">Información de Contacto</legend>
    <label for="DireccionSitio">Direccion:</label>
    <input
      class="caja-texto"
      id="DireccionSitio"
      type="text"
      name="DireccionSitio"
      value=""
      placeholder="Direccion"
      onfocusout="validarDatos('DireccionSitio');"
      required
    />
    <label for="LocalidadSitio">Localidad:</label>
    <input
      class="caja-texto"
      id="LocalidadSitio"
      type="text"
      name="LocalidadSitio"
      value=""
      placeholder="Localidad"
      onfocusout="validarDatos('LocalidadSitio');"
      required
    />
    <label for="ProvinciaSitio">Provincia:</label>
    <input
      class="caja-texto"
      id="ProvinciaSitio"
      type="text"
      name="ProvinciaSitio"
      value=""
      placeholder="Provincia"
      required
    />
    <label for="MailSitio"> Correo Electrónico:</label>
    <input
      class="caja-texto"
      id="MailSitio"
      type="email"
      name="MailSitio"
      value=""
      placeholder="Mail"
      required
      onfocusout="validarDatos('MailSitio');"
    />
    <label for="TelefonoSitio">Teléfono:</label>
    <input
      class="caja-texto"
      id="TelefonoSitio"
      type="tel"
      name="TelefonoSitio"
      value=""
      placeholder="Telefono"
      required
      onfocusout="validarDatos('TelefonoSitio');"
    />
  </fieldset>
  <fieldset>
    <legend class="title">Localización</legend>
    <section class="contenedor" id="resultado-mapa">
      <section id="mapa">
        <script>
          var d = '{{M}}'
          var latitud = '{{datos.latitud}}'
          var longitud = '{{datos.longitud}}'
          var ciudad = '{{datos.ciudad}}'
          var region = '{{datos.region}}'
        </script>
      </section>
    </section>
    <p class="title">Las coordenadas geograficas del lugar:</p>

    <label for="Longitud">X(Longitud):</label>
    <input
      id="Longitud"
      type="number"
      name="Longitud"
      value="0"
      placeholder="Longitud"
      disabled
    />
    <label for="Latitud">Y(Latitud):</label>
    <input
      id="Latitud"
      type="number"
      name="Latitud"
      value="0"
      placeholder="Latitud"
      disabled
    />
    <input
    class=""
    type="button"
    value="Buscar Coordenadas"
    onclick="buscarcoord();"
    name="Enviar"
  />


  </fieldset>

  <fieldset>
    <legend class="title">Servicios</legend>
    <label class="heading">Seleccione los servicios disponibles:</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="1" />
        WIFI
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="2" />
        Acceso Personas con Discapacidad
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="3" />
        Aire Acondicionado
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="4" />
        Estacionamiento
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="5" />
        TV
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="6" />
        Juegos para niños
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend class="title">Horarios</legend>
    <div class="horario">
      <label for="Dia-Inicio">De :</label>
      <select id="Dia-Inicio" name="Dia-Inicio">
        <option value="0">Selecionar día:</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sabado</option>
        <option value="7">Domingo</option>
      </select>
      <label for="Dia-Fin">A :</label>
      <select id="Dia-Fin" name="Dia-Fin">
        <option value="0">Selecionar día:</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sabado</option>
        <option value="7">Domingo</option>
      </select>
      <br>
      <label for="De-Inicio">De :</label>
      <select class="heading" id="De-Inicio" name="De-Inicio">
        <option value="-1">Selecionar hora:</option>
        <option value="00">00:00</option>
        <option value="01">01:00</option>
        <option value="02">02:00</option>
        <option value="03">03:00</option>
        <option value="04">04:00</option>
        <option value="05">05:00</option>
        <option value="06">06:00</option>
        <option value="07">07:00</option>
        <option value="08">08:00</option>
        <option value="09">09:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
        <option value="21">21:00</option>
        <option value="22">22:00</option>
        <option value="23">23:00</option>
      </select>
  
      <label for="Hasta-Fin">A :</label>
      <select class="heading" id="Hasta-Fin" name="Hasta-Fin">
        <option value="-1">Selecionar hora:</option>
        <option value="00">00:00</option>
        <option value="01">01:00</option>
        <option value="02">02:00</option>
        <option value="03">03:00</option>
        <option value="04">04:00</option>
        <option value="05">05:00</option>
        <option value="06">06:00</option>
        <option value="07">07:00</option>
        <option value="08">08:00</option>
        <option value="09">09:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
        <option value="21">21:00</option>
        <option value="22">22:00</option>
        <option value="23">23:00</option>
      </select>
      <input
      class="input-enviar"
      onclick=""
      type="button"
      value="Agregar uno"
      name="Enviar"
    />
    <input
    class="input-enviar"
    onclick=""
    type="button"
    value="Quitar último"
    name="Enviar"
  />
    </div>
  </fieldset>
  <fieldset>
    <legend class="title">Imagenes</legend>
    <label for="archivosubido[]">Imagenes del Sitio:</label>
    <input
      id="archivosubido[]"
      type="file"
      name="archivosubido[]"
      multiple=""
      accept="image/jpeg"
    />
  </fieldset>

  <input
    class="input-enviar"
    onclick="validarRegistro();"
    type="button"
    value="Enviar"
    name="Enviar"
  />
</form>
{% endblock %}
