{% extends "base.html" %} {% block head %} {{ parent() }}

<script src="/public/script/validar_form_sitio.js"></script>

<link rel="stylesheet" href="/public/css/near-sitios.css" />

<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css"> 
    

{% endblock %} {% block title %}NUEVO SITIO{% endblock %} {% block main %}
<form
  class="contenedor formulario"
  id="regForm"
  name="regForm"
  enctype="multipart/form-data"
  method="post"
  action="/resto/CreateResto"
>
  <h3 class="title">NUEVO SITIO:</h3>
  <div id="messageBox"></div>
  <fieldset>
    <legend class="title">Información del Sitio</legend>

    <div class="input-group">
      <label for="nameSitio">Nombre de Sitio:</label>
      <input
        id="nameSitio"
        type="text"
        name="nameSitio"
        value="{{datos['form'][0].input}}"
        class="caja-texto {{datos['form'][0].estado}} "
        placeholder="Nombre de Sitio"
        minlength="4"
        maxlength="20"
        required
      />
      <span  id="help-nameSitio" class="error-text" >{{datos['form'][0].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="subject">Descripcion:*</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Escriba algo"
        rows="4"
        cols="50"
        required
        minlength="40"
        maxlength="2000"
        class="caja-texto {{datos['form'][1].estado}} "
      >{{datos['form'][1].input}}</textarea>
      <span  id="help-subject" class="error-text" >{{datos['form'][1].mensaje}}</span>
    </div>

  </fieldset>


  <fieldset>
    <legend class="title">Información de Contacto</legend>
      <div class="input-group">
        <label for="DireccionSitio">Direccion:</label>
        <input
          id="DireccionSitio"
          type="text"
          name="DireccionSitio"
          value="{{datos['form'][2].input}}"
          class="caja-texto {{datos['form'][2].estado}} "
          placeholder="Direccion"
          minlength="4" 
          maxlength="40"
          required
        />
        <span  id="help-DireccionSitio" class="error-text" >{{datos['form'][2].mensaje}}</span>
      </div>
    <div class="input-group">
      <label for="LocalidadSitio">Localidad:</label>
      <input
        id="LocalidadSitio"
        type="text"
        name="LocalidadSitio"
        value="{{datos['form'][3].input}}"
        class="caja-texto {{datos['form'][3].estado}} "
        placeholder="Localidad"
        minlength="4" 
        maxlength="40"
        required
      />
      <span  id="help-LocalidadSitio" class="error-text" >{{datos['form'][3].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="ProvinciaSitio">Provincia:</label>
      <input
        id="ProvinciaSitio"
        type="text"
        name="ProvinciaSitio"
        value="{{datos['form'][4].input}}"
        class="caja-texto {{datos['form'][4].estado}} "
        placeholder="Provincia"
        minlength="4" 
        maxlength="40"
        required
      />
      <span  id="help-ProvinciaSitio" class="error-text" >{{datos['form'][4].mensaje}}</span>
  </div>
      <div class="input-group">
      <label for="MailSitio">Correo Electrónico:</label>
      <input
        class="caja-texto {{datos['form'][5].estado}} "
        id="MailSitio"
        type="email"
        name="MailSitio"
        value="{{datos['form'][5].input}}"
        placeholder="Correo Electronico"
        
      />
      <span  id="help-MailSitio" class="error-text" >{{datos['form'][5].mensaje}}</span>
    </div>
    <div class="input-group">
      <label for="TelefonoSitio">Telefono:</label>
      <input
        class="caja-texto {{datos['form'][6].estado}} "
        id="TelefonoSitio"
        type="tel"
        name="TelefonoSitio"
        value="{{datos['form'][6].input}}"
        placeholder="Telefono"
        pattern="^(\(\+?\d{2,3}\)[\*|\s|\-|\.]?(([\d][\*|\s|\-|\.]?){6})(([\d][\s|\-|\.]?){2})?|(\+?[\d][\s|\-|\.]?){8}(([\d][\s|\-|\.]?){2}(([\d][\s|\-|\.]?){2})?)?)$"
        
      />
      <span  id="help-TelefonoSitio" class="error-text" >{{datos['form'][6].mensaje}}</span>
    </div>
  </fieldset>
  <fieldset class=" {{datos['form'][9].estado}} ">
    <legend class="title">Localización</legend>
      <input
      class="caja-texto"
      id="longitud"
      type="number"
      name="longitud"
      value=""
      min="-180"
      max="180"
      hidden
      readonly
      />
    
      <input
          class="caja-texto"
          id="latitud"
          type="number"
          name="latitud"
          value=""
          min="-90"
          max="90"
          hidden
          readonly
      />
    <p class="title">Arraste el marcador a la ubicación geográfica del lugar</p>
      <section id="mapa"  >
        <script>
          var alatitud = "{{ datos['form'][9].input }}"
          var alongitud = "{{ datos['form'][9].input1 }}"

        </script> 
      </section>
      <span  id="help-Mapa" class="error-text" >{{datos['form'][9].mensaje}}</span>
  </fieldset>

  <fieldset class=" {{datos['form'][8].estado}} ">
    <legend class="title">Servicios</legend>
    <label class="heading">Seleccione los servicios disponibles:</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="1" />
        WIFI
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="2" />
        Acceso Personas con Discapacidad
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="3" />
        Aire Acondicionado
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="4" />
        Estacionamiento
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="5" />
        TV
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="servicios[]" value="6" />
        Juegos para niños
      </label>
    </div>
    <span  id="help-servicios" class="error-text" >{{datos['form'][8].mensaje}}</span>
  </fieldset>
  <fieldset >
    <legend class="title">Horarios</legend>
    <div id="horarios">
      <div id="horario-0" class="horario" >
        <div class="input-group">
          <label for="Dia-0">Día :</label>
          <select  id="Dia-0" name ="horarios[]" onBlur="validarhorario('0');" required class=" select-dia caja-texto {{datos['form'][7].estado}} ">
            <option value="" >Selecionar día:</option>
            <option value="1">Lunes</option>
            <option value="2">Martes</option>
            <option value="3">Miercoles</option>
            <option value="4">Jueves</option>
            <option value="5">Viernes</option>
            <option value="6">Sabado</option>
            <option value="7">Domingo</option>
          </select>
        </div>
        <div class="input-group">
          <label for="De-0">De :</label> 
          <input type="time" id="De-0"  name="horarios[]"  onBlur="validarhorario('0');" required class="select-dia caja-texto {{datos['form'][7].estado}} " >
        </div>
        <div class="input-group">
          <label for="Hasta-0">A :</label>
          <input type="time" id="Hasta-0" name="horarios[]" onBlur="validarhorario('0');" required class="select-dia caja-texto {{datos['form'][7].estado}} ">
        </div>
        
        <span  id="help-Hasta-0" class="error-text-horario" >{{datos['form'][7].mensaje}}</span>
      </div>
    </div>


      <div  id="input">
      <input
      class="input-enviar"
      type="button"
      value="Agregar uno"
      onclick=agregar_horario();
      name="Enviar"
    />
    <input
    class="input-enviar"
    onclick="quitar_horario();"
    type="button"
    value="Quitar último"
    name="Enviar"
  />
    </div>
  </fieldset>
  <fieldset id="archivo">
    <div class="input-group">
      <label for="archivosubido">Imagenes del Sitio:</label>
      <div id="preview"></div>
      <input
      class="caja-texto {{datos['form'][10].estado}}"
      id="archivosubido"
      type="file"
      name="archivosubido[]"
      multiple=""
      accept="image/jpeg"
        required
      />
      <span id="help-archivosubido" class="error-text">{{datos['form'][10].mensaje}}</span>
    </div>
  <input
    class="input-enviar"
    type="submit"
    value="Enviar"
    name="Enviar"
  />
</form>
{% endblock %}
