<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} | La Guia Gourmet</title>

    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/partials.css" />
    <link rel="icon" type="image/png" href="/public/res/favicon.ico" />
    <script src="https://use.fontawesome.com/6e6effd682.js"></script>
    {% endblock %}
</head>

<body>
    <header>{% block header %}{{ include('partials/header.html') }}{% endblock %}</header>
    <nav>{% block nav %} {{ include('partials/nav.html') }} {% endblock %}</nav>
    <main>{% block main %}{% endblock %}</main>
    {% block footer %} {{ include('partials/footer.html') }} {% endblock %}
</body>

</html>