
{% extends "base.html" %}

{% block title %}404 - Not Found{% endblock %}



{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <link rel="stylesheet" href="/public/css/not-found.css">
    <link rel="stylesheet" href="/public/css/search-bar.css">
{% endblock %}

{% block main %}
<h1 id="cuatro1">4 </h1>
<h1 id="cuatro2">4 </h1>
<h3 id="titulo"> Not Found</h3>
<div id="sarten">
<div id="moon"></div>
<div id="moon-interior"></div>
<div id="mango"></div>
<div id="mango-interior"></div>
<div id="mango-datalle"></div>
<div id="mango-datalle2"></div>
</div>
{% block footer %}

{% endblock %}
{% endblock %}