.slideshow-container {
  background-color:#E7CF7F;
  margin-left: 2.5%;
  position: relative;
  align-content: center;
  width: 94%;
  height: 550px;
  padding-bottom: 20px;
  
}

/* Hide the images by default */
.diapositiva {
  border-top: 1px solid #E7CF7F;
  border-radius: 100px;
  display: none;
  object-fit: contain;
      object-position: center center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  
  background-color: rgba(245, 146, 135, 0.8)
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:  #F5F2E9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activo, .dot:hover {
  background-color: #F59287;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}