.contenido *, *:before, *:after {
  font-family: 'FontAwesome';
  box-sizing: inherit;
}


.contenido{
  margin-top: 6%;
  background-color: #F5F2E9;
}

.titulo{
  text-align: center;
  border: 1px solid #E7CF7F;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #F5F2E9;
  width: 98.5%;
}

.contenido h1{
font-weight: 700;
letter-spacing: 2px;
margin-bottom: 10px;

text-transform: uppercase;
color: black;
}



.contenido label{
  margin-left: 2%;
}

/* Style inputs */
.contenido input[type=text], .contenido input[type=email], .contenido select, .contenido textarea {
  width: 92%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color:  rgb(245, 255, 240);
}

.contenido input[type="submit"] {
  font-family: 'Hanalei Fill', cursive;
  width: 40%;
  height: 10%;
  border: none;
  color: black;
  padding-top: 20%;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;        
  background-color: #E7CF7F;
}

.contenido input[type="submit"]:hover {
  background-color: #F59287;
}

/* Style the container/contact section */
.contenido {
  
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 0px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.row img{
  margin-top: 4%;
  margin-left: 25%;
  height: 60%;
  width:60% ;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
  text-align: center;
  margin-top:8px;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

#subject{
  margin-left: 4%;
  height: 10%;
}


#contact-form{
padding: 4%;
margin-left: -4%;
width: auto;
}