
 label{
  margin-left: 4%;
}
input{
  display: block;
  background-color:  rgb(245, 255, 240);
  border: 0.5px solid #E7CF7F;
  padding: 1%;

  width: 90%;
  margin-left: 4%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  margin-right: 0%;
}


input[type="submit"]{
  padding: 3%;
  margin-top: 3%;
  margin-left: 5%;
  border: 0.5px solid  #F5F2E9 ;
  background-color:#E7CF7F;
}


.nombre-block {
  width: 90%;
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8) ;
  color: #F59287;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 20px;
  border-radius: 1px ;
  border-top: 1px solid #E7CF7F;
  border-bottom: 1px solid #E7CF7F;
  box-shadow:   7px 0px 7px 0px #F59287;
}


.tab-title{
  color:black;
  font-size: 17px;
}

/* Estilo de la pestaña */
.opciones {
  overflow: hidden;
  border: 1px solid #E7CF7F;
  background-color: #F5F2E9;
}

/* Estilo de la solapa de la pestaña */
.opciones .settings-menu-link {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  transition: 0.3s;
  width: 100%;
  border: 1px solid #E7CF7F;
  
  text-decoration: none;
  color: grey;
  
}
.opciones .active{
  background-color:  #E7CF7F;
}


.opciones .active2{
margin-left: 10%;
background-color:  #E7CF7F;
}


.opciones .active3{
  margin-left: 10%;
  
  }

.opciones a:hover {
color: #F59287;

}

.settings-link-name{
margin-left: 5%;

text-decoration-color: black;
}

.tab button:hover {  

  background-color: #F59287;
}


.tab button.active {
  background-color: #E7CF7F;
}

.tab button.active:hover{
  background-color: #E7CF7F;
  color: #000;
  cursor: default;
}


.tabcontent {
  display: none;
  background-color: rgba(245, 242, 233, 0.8) ;
  border: 1px solid #E7CF7F;
  border-top: none;
  padding: 25px;
  margin-bottom: 2%;
}

.tabcontent .active{
  display: block;
}

.tabcontent .noactive{
  display: none;
}

.side-bar{
  /* margin-right: 50px;
   overflow: hidden; 
   width: 25%;
   position: relative;
   right: 0px;
   top: 0;
   text-align: left;
   margin-top: 50.80%;
 */
   float: left;
   width: 25%;
   margin-right: -25%;
   position: relative;
   left: 2%;
   margin-bottom: 5%;
 }
 
 .side-bar ul{
   margin-left: 20px;
   margin-right: 20px;
 }
 
 .side-bar li{
   padding-bottom: 20px;
   text-align: start;
   border-bottom: 1px solid #E7CF7F;
 }
 
.user-Name{
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2%; 
  text-align: left;
  position: absolute;
  left: 18%;
  margin-top: 0.5%;


}

.user-Profile{
overflow:auto;
border: 2px solid #E7CF7F;
width: 100%;
background: #F5F2E9 ;
margin: 0 0 15px;
margin-top: 8%;
padding: 20px;
box-sizing: border-box;
background: rgba(245, 242, 233, 0.3) ;
}


.User-Img{
  width: 25%;
  height: 25%;
  float: left;
  padding-right: 2%;
  padding-bottom: 2%;
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
 }



.info{
  padding: 1.3%;
  margin-top: 2%;
  margin-left: 28%;
  border: 2px solid #E7CF7F;
  width: 60%;
  float: left;
  margin-bottom: 5%;
}

.plus-text{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  
  height: 100%;
  background-color: #E7CF7F;
}

.fa-plus-circle{
  padding-top: 40%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
