/* The dots/bullets/indicators
.mySlides img {
    width: 20%; float: left;
  /*   margin-left: 0.2%;
    margin-right: 0.2%;
    width: 99.60%;
    height: 550px;

}

.mySlides {


}
*/
.circles{
    background-color:#E7CF7F;
    padding: 1%;
    text-align:center; 
    margin-left: 2.5%;
    margin-right: 3.5%;
}


.slideshow-container {
 overflow: hidden;
    background-color:#E7CF7F;
}




.slideshow-container .mySlides img  {
    width: 98%; 
  padding-bottom: 2%;
  margin: 1%;
  margin-top: 0%;
  
}


.slideshow-container .mySlides {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}