
#mapa {
  height:100%;
  width:100%;
  min-height: 80vh;
 
}
#info {

  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 0vh  8vw 0vh 8vw ;
  margin:12vh 12vw 12vh 10vw ;
  border: solid 1px var(--main-color);
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
  z-index: 20;
  position: absolute;
  top: 0;
  }

.actualPosition{
  background-image: url('/public/res/location.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.marker {
  background-image: url('/public/res/map.svg');
  background-size: cover;
  background-color: rgb(1 1 512 512);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  min-width: 20vw;
  min-height: 20vh;
}

.imagen_pop{
  background-size: cover;
  width: 20vw;
  height: 24vh;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  object-fit: cover;

}

#mapa .mapboxgl-popup-content {
  box-shadow: 0 4px 8px 0 var(--main-color); 
  padding: 0.5vw;
  text-align: center;
  background-color: var(--main-color);
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  width: 20vw;
  height: 35vh;
}

#mapa .mapboxgl-popup-tip{
  border-top-color: var(--main-color);
}

#mapa .mapboxgl-popup-close-button{
  margin-top: 4%;
  margin-right: 2%;
  width: 15%;
  height: 15% ;
}




.alert {
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
  text-align: center;
  margin-top:8px;
}



.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}


@media screen and (max-width: 600px) {
  .imagen_pop{
    background-size: cover;
    width: 55vw;
    height: 30vh;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }

  #mapa .mapboxgl-popup-content h3{
font-size: 4vw;
  }


  #mapa .mapboxgl-popup-content {
    width: 55vw;
    height: 40vh;
  }
}