
#mapa {
  height:100%;
  width:100%;
  min-height: 80vh;
 
}

.actualPosition{
  background-image: url('/public/res/location.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.marker {
  background-image: url('/public/res/map.svg');
  background-size: cover;
  background-color: rgb(1 1 512 512);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  min-width: 20vw;
  min-height: 20vh;
}

.imagen_pop{
  width: 20vw;
  height: 10vw;
  background-size: cover;
}

#mapa .mapboxgl-popup-content {
  border-radius: 10%;
  background-color: var(--main-color);
  min-width: 20vw;
  min-height: 20vh;
}

#mapa .mapboxgl-popup-tip{
  border-top-color: var(--main-color);
}

#mapa .mapboxgl-popup-close-button{
  margin-top: 4%;
  margin-right: 2%;
  width: 15%;
  height: 15% ;
}




.alert {
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
  text-align: center;
  margin-top:8px;
}



.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}


@media screen and (max-width: 600px) {
  .imagen_pop{
    width: 50vw;
    height: 20vh;
    margin-left: 4vw;
  }

  #mapa .mapboxgl-popup-content h3{
font-size: 4vw;
  }

}