/* Estilo de la pestaña */
.tab {
  margin-left: 1vw;
  background-color: var(--back-color);
  padding: 1vw 0 0 1vw;
  overflow: hidden;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.tab-title{
  color:  var(--assent-color);
}

/* Estilo de la solapa de la pestaña */
.tablinks {
  background-color: inherit;
  float: left;
  cursor: pointer;
  transition: 0.3s;
  margin: 0em;
  width: 18vw;
  height: 8vh;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border: none;
}

.tablinks:hover .tab-title{
  color: var(--main-color);
}

.tablinks:hover {
  background-color: var(--assent-color);
}

.tablinks.active {
  background-color: var(--main-color);
}

.tablinks.active:hover {
  color: var(--assent-color);
  background-color: var(--main-color);
  cursor: default;
  
}

.tablinks.active:hover .tab-title{
  color: var(--assent-color);
  cursor: default;
}


.tabcontent {
  display: none;
  background-color: var(--main-color);
  border-top: none;
  padding: 1vw;
  margin-bottom: 1vh;
  padding-top: 2vh;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.tabcontent .active {
  display: block;
}

.tabcontent .noactive {
  display: none;
}

.tabcontent .tarjeta{
  background-color: var(--back-color);
  box-shadow: 0 4px 8px 0 var(--back-color);
}
.fondo{
  background-color: var(--main-color);
  margin-bottom: 2vh;
}

.tabcontent .tarjeta:hover {
  background-color: var(--assent-color);
  box-shadow: 0 4px 8px 0 var(--assent-color);
}


.fa-search-plus{
cursor: pointer;
color: var(--main-color);
}

.parrafo {
  text-align: justify;
  overflow-wrap:break-word;
}

dl.detalles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
dl.detalles dt {
  width: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 0 0 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid var(--main-color);
 
}

dl.detalles dd {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 60%;
  border-bottom: 1px solid var(--main-color);
}

.horarios dl.detalles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 2vw;
}

.horarios dl.detalles dt {
  width: 2px;
  padding: 2vh 0 2vh 0;
  flex: 0 0 10vw;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid var(--assent-color);
  background-color: var(--main-color);
}

.horarios dl.detalles dd {
  padding: 2vh 6vw 2vh 8vw;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 8vw;
  border-bottom: 1px solid var(--assent-color);
  background-color: var(--main-color);
  display: flex;

}

.horarios {
  width: 40vw;
  margin-bottom:20vh;
}

.caracteristicas {
  margin-right: 4vw;

}

.caracteristicas  li {
  padding:  2vh 6vw 2vh 6vw ;
  border-bottom: 1px solid var(--assent-color);
  background-color: var(--main-color);
}


#imagen-modal {
  width: 77vw;
}

.datos {
  margin: 1vw;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.datos li {
  height: 10vh;
  width: 10vw;
  margin: 1vw 0 0 1vw;
}

.datos img {
  height: 8vh;
  width: 8vw;
}

.plato-full {
  padding-bottom: 80vh;
}

.infoBasica-plato,.plato-full{
background-color: var(--main-color);
}



.plato-full .close{
  color: var(--back-color);
  }

  .plato-full .close:hover{
    color: var(--assent-color);
    }

.contiene {
  background-color: var(--back-color);
  width: 20vw;
  float: left;
  display: inline-block;
  right: 0;
  margin: 1.5vh 0 0 1vw;
}

.infonut {
  background-color: var(--back-color);
  width: 40vw;
  float: right;
  padding-right: 4vw;
  margin: 1.5vh 1vw 0 0;
}
.lista-coment {
  height: 2vh;
}

.comentario {
  overflow: auto;
  border: 1px solid var(--main-color);
  width: 100%;
  background: #f5f2e9;
  margin: 2% 0 25px;
  padding: 20px;
  box-sizing: border-box;
}

.coment-nombre {
  font-size: 17px;
  font-weight: 600;
  width: 2em;
  text-align: left;
  margin:  2vh 0vw 0vw 0vw;
}

.coment-text {
  /*font-family: 'Raleway', sans-serif;*/
  text-align: justify;
  overflow-wrap:break-word;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  float: left;
}

.comentario .title {
  float: right;
  color: var(--back-color);
}

.valoracion {
  top: 0;
  margin: 0 31vw  ; 
  display: inline;
  height: 5%;
  width: 40vw;
  float: right;

}

.valoracion li {
  margin: 0em;
  margin-right: 5%;
  float: left;
}

.valoracion h2 {
  text-align: center;
}

/* Style inputs */
.deja-comentario input[type='text'],
.deja-comentario input[type='email'],
.deja-comentario select,
.deja-comentario textarea {
  width: 65vw;
  padding: 1vw;
  margin: 1vh 4vh 0vh 1vw;
  resize: vertical;
}


.deja-comentario .error-text{
    margin: 2vh 4vh 0vh 4vw;
}

.deja-comentario input[type='submit'] {
  /* font-family: 'Hanalei Fill', cursive;*/
  background-color: var(--back-color);
  padding: 1vw;
  margin: 0.5vh 0 1vh 1vw;
  resize: vertical;
}



.deja-comentario input[type='submit']:hover {
  background-color: var(--assent-color);
}

.deja-comentario {
  border: 1px solid var(--back-color);
  padding: 3%;
}

.deja-comentario label {
  padding: 0;
}

.valoracion2  label {
  font-size: 17px;
  font-weight: 600;
  color: grey;
}

label:hover {
  color: orange;
}

label:hover ~ label {
  color: orange;
}

input[type='radio'] {
  display: none;
}

.clasificacion {
  padding-left: 20%;
}

input[type='radio']:checked ~ label {
  color: orange;
}

.valoracion2 {
  margin: 2vh 0 2vh 2vw;
}

.valoracion2 li {
  display: block;
}

.valoracion2 h4 {
  float: left;
  padding-top: 0vh;
  font-weight: 700;
  text-align: start;
  text-transform: uppercase;
  color: black;
}

.fa-star {
  color: gray;
}

.checked {
  color: orange;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type='radio'] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion1 {
  padding-left: 10vw;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type='radio']:checked ~ label {
  color: orange;
}

@media screen and (max-width: 600px) {
  .tab {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .tablinks {
    width: 80vw;
    margin: 0vw;
    font-size: 6vw;
  }

  .plato-full {
    padding-bottom: 0vh;
  }

  .contiene {
    background-color: var(--back-color);
    width: 80vw;
    float: none;
    display: inline-block;
    right: 0;
    margin: 1.5vh 0 0 1vw;
  }

  .infonut {
    background-color: var(--back-color);
    width: 80vw;
    float: none;
    padding-right: 4vw;
    margin: 1.5vh 1vw 4vh 0;
  }

  .datos {
    margin-left: 8vw;
  }

  .datos img {
    height: 20vh;
    width: 20vw;
  }
  .datos li {
    height: 20vh;
    width: 20vw;
    margin: 0vw;
  }

  dl.detalles {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  dl.detalles dt {
    width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 0 0 40vw;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #e7cf7f;
    background-color: var(--main-color);
  }

  dl.detalles dd {
    font-size: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 0 80vw;
    border: 1px solid #e7cf7f;
  }

  .horarios dl.detalles {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .horarios dl.detalles dt {
    width: 2vw;
    padding: 1vh 1vh 1vh 1vh;
    flex: 0 0 38vw;
    text-overflow: ellipsis;
    overflow: hidden;


  }

  .horarios dl.detalles dd {
    padding: 1vh 1vh 1vh 1vh;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 0 32vw;
    display: flex;
  }

  .horarios {
    width: 90vw;
    margin: 35vh 0 0 1vw;
  }

  #imagen-modal {
    width: 83vw;
  }

  .lista-coment {
    height: 2vh;
  }

  .comentario {
    overflow: auto;
    border: 1px solid #e7cf7f;
    width: 100%;
    background: #f5f2e9;
    margin: 2% 0 25px;
    padding: 20px;
    box-sizing: border-box;
  }

  .coment-nombre {
    font-size: 17px;
    font-weight: 600;
    width: 2vw;
    text-align: center;
    margin: 0vw;
    margin-top: 2vh;
  }

  .coment-text {
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;

    overflow-wrap:break-word;
  }

  .comentario .title {
    float: none;
  }

  .valoracion {
    top: 0;
    margin-top: 0%;
    display: inline;
    height: 5%;
    width: 80vw;
    float: none;
    margin-right: 1vw;
  }

  .valoracion li {
    margin: 0em;
    margin-right: 5%;
    float: left;
  }

  .valoracion h2 {
    font-size: 4vw;
    text-align: center;
  }

  .valoracion2 h4 {
    float: left;
    padding-top: 0vh;
    font-size: 5vw;
    margin-right: 60vw;
  }

  .valoracion h4 {
    float: left;
    padding-top: 0vh;
    font-size: 4vw;
    margin-right: 60vw;
  }

  .valoracion2  label {
    font-size: 10vw;
    font-weight: 600;
    color: grey;
  }
}
