:root {
  --main-color: #9a5f12;
  --back-color: #383939;
  --assent-color: #f6ffec;
  --success-color: #94bd9e;
  --danger-color: #f8d7da;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--back-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.3vw solid var(--main-color);
  background: var(--main-color) var(--back-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 0.3vw solid var(--back-color);
  background: var(--assent-color);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 8px;
}

.alert-success {
  color: #155724;
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.alert-danger {
  color: #721c24;
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

body {
  background-color: var(--back-color);
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.6em;
  margin: 0;
}

header,
nav,
footer,
body {
  background-color: var(--main-color);
  align-content: center;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1.2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

a:hover {
  color: var(--assent-color);
}

nav ul {
  margin-left: 8vw;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 2vw;
}

#nombreUsuario:hover {
  cursor: pointer;
}

.contenedor {
  background-color: var(--back-color);
  border-radius: 1em;
  align-items: center;
  padding: 2vw;
  margin: 1.5vw 9vw 0 9vw;
}

#wrapper {
  margin-top: 1.5em;
  display: inline;
}

.sidebar-dash {
  width: 20vw;
  float: left;
  display: inline-block;
  right: 0;
  margin: 4vh 0 0 1vw;
}

.dash {
  width: 65vw;
  float: right;
  padding-right: 4vw;
  margin: 4vh 1vw 0 0;
}

.dash #columna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2vw;
  width: 100%;
  float: none;
}

.dash .tarjeta:hover {
  background-color: var(--main-color);
  box-shadow: none;
}

.dash .tarjeta:hover .title {
  color: var(--assent-color);
}

.dash .tarjeta img {
  background-size: cover;
  width: 30vw;
  height: 32vh;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.User-Img {
  width: 20vw;
}

.plus-text {
  padding: 7vw;
}

.mySlides {
  max-width: 76vw;
  max-height: 90vh;
  border-radius: 1em;
}

.slideshow-container img {
  width: 77vw;
  height: 84vh;
  border-radius: 1em;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60vh;
  width: auto;
  padding: 2.5vw;
  color: var(--assent-color);
  background-color: RGB(182, 164, 162, 0.4);
  border: 1px solid var(--assent-color);
  transition: 0.6s ease;
  border-radius: 40%;
}
.next {
  right: 11.5vw;
}

.dot {
  cursor: pointer;
  height: 1.5vw;
  width: 1.5vw;
  margin: 1vh 0.2vw;
  background-color: #b6a4a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activo,
.dot:hover {
  background-color: var(--assent-color);
}

.icons {
  cursor: pointer;
}

.icons:hover {
  color: var(--assent-color);
}

.imagen-contacto {
  width: 5em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 60; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal-content {
  margin: 1vh auto 1vh auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 1vw; /* Could be more or less, depending on screen size */
  height: 25vh;
  padding: 20vw;
  border: 3px solid #e7cf7f;
  display: block;
}

.settings-link-name {
  color: var(--assent-color);
}

.imgcontainer {
  display: block;
  margin: 1em;
}

.imgcontainer img {
  align-items: center;
  width: 20%;
  padding: 0 30vw 0 30vw;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 12vw;
  top: 3vw;
  color: var(--main-color);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--assent-color);
  cursor: pointer;
}

.title {
  padding: 1vw;
  text-align: center;
}

.nav-logo img {
  height: 15vh;
  width: 20vw;
}

#page-active {
  background-color: var(--main-color);
  border: unset;
}

.paginacion ul {
  list-style: none;
  margin: 2vw;
  padding: 1vw;
  align-items: center;
}

.paginacion li {
  display: inline;
  margin-left: 0.2vw;
  align-items: center;
}

.paginacion input {
  background-color: var(--back-color);
  color: var(--assent-color);
  text-decoration: none;
  font-size: 1em;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  margin: 4vh 0vw 1vh 0vw;
  cursor: pointer;
}

.paginacion input:hover {
  background-color: var(--assent-color);
  color: var(--back-color);
}

.tarjeta {
  box-shadow: 0 4px 8px 0 var(--main-color); /* this adds the "card" effect */
  padding: 0.5vw;
  text-align: center;
  background-color: var(--main-color);
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.tarjeta:hover {
  background-color: var(--assent-color);
  box-shadow: 0 4px 8px 0 var(--assent-color);
}

.tarjeta:hover .title {
  color: var(--back-color);
}

.tarjeta img {
  background-size: cover;
  width: 23vw;
  height: 25vh;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.tarjeta h3 {
  padding: 0;
  margin: 0;
}

.tarjeta a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#columna {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1vw;
  width: 100%;
  float: none;
}

/* The Modal (background) */
.modal-plato {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 60; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

  overflow: auto;
}

.title {
  text-align: center;
  color: var(--assent-color);
}

h3 {
  font-weight: 900;
  letter-spacing: 2px;
  text-align: start;
  text-transform: uppercase;
}

.caracteristicas {
  float: right;
}

#ToTheTop {
  height: 1;
  width: 1;
  color: var(--main-color);
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 4em solid var(--back-color);
  position: fixed;
  bottom: 3em;
  right: 2em;
  cursor: pointer;
  z-index: 400;
}

#ToTheTop:hover {
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 4em solid var(--assent-color);
  z-index: 400;
}

input,
button,
select,
textarea {
  border: 2px solid var(--main-color);
  background-color: var(--assent-color);
}

.input-error {
  background-color: var(--danger-color);
}


.error-text{
  color: var(--danger-color);
}

textarea {
  height: 30vh;
}

label {
  padding: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: var(--assent-color);
}

fieldset {
  margin-bottom: 4vh;
}


.formulario .input-enviar {
  width: 69vw;
}

.input-enviar {
  width: 67vw;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  resize: vertical;
  cursor: pointer;
}

.input-enviar:hover {
  background-color: var(--assent-color);
  border: 2px solid var(--assent-color);
}

.barra-busqueda .input-enviar {
  width: 75vw;
  padding: 1vw;
  margin: 0.5vh 0 1vh 1vw;
  height: auto;
}

.barra-busqueda input,
.barra-busqueda select {
  height: auto;
  width: 20vw;
  margin: 1vh 0 4vh 1vw;
  padding: 1vw;
}

.barra-busqueda input {
  width: 28vw;
}

.barra-busqueda select {
  width: 22vw;
  margin: 0;
}

.dash input,
.dash textarea {
  width: 56vw;
  resize: vertical;
  padding: 1vw;
  margin: 1vh 4vh 0vh 4vw;
}

.dash select {
  width: 20vw;
  height: auto;
  padding: 1vw;
  margin: 1vh 0 4vh 1vw;
}

.dash .input-enviar {
  width: 62vw;
  padding: 1vw;
}

.formulario input,
.formulario textarea {
  width: 67vw;
  padding: 1vw;
  margin: 1vh 4vh 0vh 4vw;
  resize: vertical;
}

.formulario select {
  padding: 1vw;
  height: auto;
  width: 67vw;
  margin: 1vh 4vh 0vh 4vw;
}

.formulario label {
  margin-right: 4vw;
}

.formulario input[type='checkbox'] {
  background-color: var(--main-color);
  margin-left: 0%;
  width: 6vw;
  height: 6vh;
}


.error-text{

  margin: 2vh 4vh 0vh 4vw;
}

.input-group{
  margin-bottom: 4vh;
  width: 67vw;
}

#preview{
  border: 2px solid var(--main-color);
  background-color: var(--assent-color);
  margin: 4vh 4vw 0 4vw;
  width: 67vw;
  padding: 1vw;
}

#preview img{
  max-width: 20vw;
  max-height: 20vh;
  padding:  1vh 4vw 0 0vw;
 
}


#formDelete .input-enviar {
  width: 70vw;
  padding: 1vw;
  margin: 0.5vh 0 1vh 1vw;
  resize: vertical;
}

#formDelete button {
  width: 70vw;
  padding: 1vw;
  margin: 0.5vh 0 1vh 1vw;
  resize: vertical;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 6vw;
  }
  footer {
    display: inline;
  }

  nav {
    width: auto;
  }

  nav ul {
    margin-left: 6vw;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: block;
  }

  a {
    padding: 0em;
    font-size: 6vw;
  }

  #paisUser {
    width: 92%;
    padding: 12px;

    resize: vertical;
    margin: 1em;
  }

  .error-text{
    font-size: 4vw;
    margin-left: 6vw;
  }

  .formulario input,
  .formulario textarea {
    width: 70vw;
    padding: 2vw;
    margin: 1vh 0 1vh 4vw;
    resize: vertical;
  }  
 


  .formulario select {
    height: auto;

    width: 70vw;
    padding: 2vw;
    margin: 1vh 0 1vh 4vw;
  }

  .barra-busqueda input,
  .barra-busqueda button,
  .barra-busqueda select {
    height: 8vh;
    width: 77vw;
    margin: 2vw;
  }

  .barra-busqueda select {
    width: 80vw;
    margin: 2vw;
  }

  .barra-busqueda .input-enviar {
    width: 80vw;
    padding: 3vw;
    margin: 0.5vh 0 1vh 2vw;
    height: auto;
  }

  #formDelete .input-enviar {
    width: 80vw;
    padding: 2vw;
    margin: 0.5vh 0 1vh 1vw;
    resize: vertical;
  }

  #formDelete button {
    width: 80vw;
    padding: 2vw;
    margin: 0.5vh 0 1vh 1vw;
    resize: vertical;
  }

  #formDelete .close {
    top: 2vh;
  }

  .modal-content {
    background-color: var(--back-color);
    margin: 2vw auto 2vw auto;
    border: 1px solid #888;
    width: 2vw;
    height: 30em;
    padding: 2vw;
    border: 3px solid #e7cf7f;
    display: block;
  }

  .imgcontainer {
    margin: 0vw;
  }

  .imgcontainer img {
    align-items: center;
    width: 60%;
    padding: 0 18vw 0 18vw;
  }

  .close {
    position: absolute;
    right: 1em;
    top: 3;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  #ToTheTop {
    height: 1;
    width: 1;
    color: var(--main-color);
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
    border-bottom: 15vw solid gray;
    position: fixed;
    bottom: 5vw;
    right: 3vw;
    cursor: pointer;
    z-index: 400;
  }

  #ToTheTop:hover {
    border-left: 8.5vw solid transparent;
    border-right: 8.5vw solid transparent;
    border-bottom: 15.5vw solid var(--assent-color);
    z-index: 400;
  }

  .nav-logo img {
    height: 20vh;
    width: 80vw;
  }

  .title {
    padding: 1vw;
    text-align: center;
  }

  .contenedor {
    margin: 4vw 4vw 0 4vw;
    padding: 4vw;
  }

  #wrapper {
    margin-top: 1.5em;
    display: inline;
  }

  .sidebar-dash {
    width: 80vw;
    float: none;
    display: inline-block;
    right: auto;
    margin: 1.5vw 4vw 4vw 4vw;
  }

  .User-Img {
    width: 80vw;
  }

  .dash {
    width: 80vw;
    float: none;

    margin: 4vw 4vw -2vh 4vw;
    padding: 4vw;
  }

  .dash #columna {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    float: none;
  }

  .dash .tarjeta:hover {
    background-color: var(--main-color);
  }

  .dash .tarjeta img {
    background-size: cover;
    width: 80vw;
    height: 30vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .dash input,
  .dash textarea {
    width: 70vw;
    padding: 2vw;
    margin: 0vh 0 1vh 2vw;
  }

  .dash select {
    height: auto;
    padding: 1vw;
    height: auto;
    width: 20vw;
    margin: 1vh 0 2vh 0vw;
    padding: 1vw;
  }

  .dash .input-enviar {
    width: 76vw;
    padding: 2vw;
    margin: 3vh 0 1vh 2vw;
    resize: vertical;
  }

  #enviar {
    width: 76vw;
    padding: 2vw;
    margin: 3vh 0 1vh 4vw;
    resize: vertical;
  }

  .encabezado img {
    margin-left: 0em;
  }

  .mySlides {
    max-width: 88vw;
    max-height: 40vh;
  }

  .slideshow-container img {
    width: 85vw;
    height: 40vh;
  }

  #columna {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    float: none;
  }

  .tarjeta {
    box-shadow: 0 4px 8px 0 rgba(245, 146, 135, 0.8); /* this adds the "card" effect */
    padding: 0.5vw;
    text-align: center;
    background-color: var(--main-color);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 1em 0em 1em 0em;
    overflow: hidden;
  }

  .tarjeta img {
    background-size: cover;
    width: 80vw;
    height: 30vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .tarjeta h3 {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }

  .tarjeta a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .tarjeta p {
    font-size: 5vw;
    padding: 0;
    margin: 0;
  }

  .prev,
  .next {
    position: absolute;
    top: 70vh;
    width: 4vw;
    padding: 2.5vw;
    border-radius: 20%;
  }
  .next {
    right: 7vw;
  }

  .dot {
    height: 6vw;
    width: 6vw;
    margin: 1vh 0.2vw;
    border-radius: 50%;
    display: inline-block;
  }

  .paginacion ul {
    list-style: none;
    margin: 2em;
    padding: 1em;
    align-items: center;
  }

  .paginacion li {
    display: inline;
    margin-left: 0.2em;
    align-items: center;
  }

  .paginacion input {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 1em 0em 1em 0em;
  }
}
