
.encabezado{
  background-color: #F5F2E9;

}

.encabezado img {
  margin-left: 0.2%;
  margin-right: 0.2%;
  width: 99.60%;
  height: 550px;
}

.encabezado h3{
  font-family: 'Hanalei Fill', cursive;
  font-size: 25px;
}


.nombre-block {
  width: 90%;
  position: absolute;
  top: 25%;
  
  background-color: rgba(255, 255, 255, 0.8) ;
  color: #F59287;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 20px;
  border-radius: 1px ;
  border-top: 1px solid #E7CF7F;
  border-bottom: 1px solid #E7CF7F;
  box-shadow:   7px 0px 7px 0px #F59287;
}


.tab-title{
  color:black;
  font-size: 17px;

}

/* Estilo de la pestaña */
.tab {
  margin-top: 50px;
  overflow: hidden;
  border: 1px solid #E7CF7F;
  background-color: #F5F2E9;
}

/* Estilo de la solapa de la pestaña */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 80px;
  transition: 0.3s;
}

.tab button:hover {  

  background-color: #F59287;
}


.tab button.active {
  background-color: #E7CF7F;
}

.tab button.active:hover{
  background-color: #E7CF7F;
  color: #000;
  cursor: default;
}


.tabcontent {
  display: none;
  background-color: rgba(245, 242, 233, 0.8) ;
  border: 1px solid #E7CF7F;
  border-top: none;
  padding: 25px;
  margin-bottom: 2%;
}

.tabcontent .active{
  display: block;
}

.tabcontent .noactive{
  display: none;
}


.infoBasica section{
margin-bottom: 2%;
}

.infoBasica h3 {
font-family: 'Shadows Into Light', cursive;
padding-top: 20px;
font-weight: 900;
letter-spacing: 2px;
text-align: start;
text-transform: uppercase;
color: black;
}

.infoBasica p{
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  padding: 0;
  font-size: 17px;
  line-height : 28px;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

dl.detalles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  padding-left: 2.5%;
  padding-right: 2.5%;
  
}
dl.detalles dt {
  width: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 0 0 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #E7CF7F;
  font-family: 'Abril Fatface', cursive;
}
dl.detalles dd {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 75%;
  border-bottom: 1px solid #E7CF7F;
}


.separador{
  border: 2px solid #E7CF7F;
  border-radius: 5px;
 
}

.side-bar > .detalles > dt{
  text-align: right;
}

.side-bar section{
border: 1px solid #E7CF7F;
}

.horarios{
  margin-top: 10%;
}

#wrapper{
 
  margin-right: 25%;
  margin-left: 2.5%;
} 


.info{
  float: left;
  width: 100%;
}

.side-bar{
 /* margin-right: 50px;
  overflow: hidden; 
  width: 25%;
  position: relative;
  right: 0px;
  top: 0;
  text-align: left;
  margin-top: 50.80%;
*/
  background-color: #F5F2E9 ;
  float: left;
  margin-top: 5%;
  width: 25%;
  margin-right: -25%;
  position: relative;
  left: 2%;
  margin-bottom: 2%;
}

.side-bar ul{
  margin-left: 20px;
  margin-right: 20px;
}

.side-bar li{
  padding-bottom: 20px;
  text-align: start;
  border-bottom: 1px solid #E7CF7F;
}



.side-bar h4{
  padding: 20px 40px;
  text-align: center;
  background-color: #E7CF7F ;
}

.enable{
  color: #F59287;
}

.disable{
  color:grey;
}

.disable li {
  color:red;
}

.caract .fa{
  padding: 10px;
  height: 20px;
  font-size: 30px;
  
}


#mapa {
  height:100%;
  width:100%;
  min-height: 600px;
  overflow: visible;
}

 

.fa-ul .caract{
  align-items: center;
}

.fila {
  margin: 0 -5px;
}
  
.fila:after {
  content: "";
  display: table;
  clear: both;
}
  

.plato {
  float: left;
  width: 40%;
  margin: 23px;
  margin-top: 0;
}

.plato:hover{
  background-color: #E7CF7F;
}

.carta {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2% 3%;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #E7CF7F;
}

.carta img{
  box-sizing: border-box;
  background-size: cover;
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}


.carta:hover{
  border: transparent;
  background-color: #F59287;
}


.plato-text{ 
  padding: 10px;
  margin-top: 10px;
  background-color: #F5F2E9;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.plates-img{
  height: 20%;
  border-radius:  3% 3%;
}

.perfil{
  float: left;
  width: 28%;
  margin: 15px;
  margin-top: 0;
}

.horarios .detalles dt{
  overflow: visible;
  text-align: center;
  
}
.horarios .detalles dd{
  overflow: visible;
  text-align: center;  
}


.horarios .detalles {
  text-align: center;
}



