

.barra-busqueda input[type="submit"]{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:80px;
  height:19px;
 }

.barra-busqueda input,select{
  background-color:   #E7CF7F;
  border: none;
  font-size: 14px;
  height: 10%;
  padding: 10px;
  
  border: 2px solid #F59287;

}

option:not(:first-of-type) {
  color: gray;
}

#palabraClave{
  height: 10%;
  font-size:10px;
  background-color: solid  #E7CF7F;
  width: 40%;
  margin-right: 1%;
  height: 10%;
}

.selectClave{
  height: 15%;
  width: 18%;
  margin-right: 1%;
  background-color: solid  #E7CF7F;

}


.barra-busqueda{
position: relative;
background-color:#F5F2E9;
width: 84%;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right: 5%;
margin-left: 2.50%;
margin-top: 2%;
border: 2px solid #E7CF7F;
display: block;

}

.barra-busqueda button[type="submit"]{

  height: 10%;
  border: none;
  color: black;
  padding-top: 20%;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;        
  background-color: #E7CF7F;
}

.barra-busqueda button[type="submit"]:hover{
  background-color: #F59287;
}

.barra-busqueda h3{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}