{% block footer %}
<footer>

<div class="caja">
  <section class="footer-logo-box">
    <img class="footer-logo" src="/public/res/logo.png" >
  </section>
  <section class="links">
    <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Restaurant</a></li>
    <li><a href="/about">Platos</a></li>
    <li><a href="/contact">Contacto</a></li>
    <li><a href="/about">Cerca de mi</a></li>
  </ul>
</section>
  
  <section id="redesSociales">
        <h3>Redes Sociales</h3>
        <hr class="linea">
        <ul class="redes">
            <li><a href="http://www.facebook.com"><img src="/public/svg/facebook.svg" alt=""></a></li>
            <li><a href="http://www.twitter.com"><img src="/public/svg/twitter.svg" alt=""></a></li>
            <li><a href="http://www.instagram.com"><img src="/public/svg/instagram.svg" alt=""></a></li>
        </ul>
  </section>
  <section id="contactanos">

      <h3>Contacto</h3>
      <hr class="linea">
      
        <ul>
            <li><img src="/public/svg/phone.svg" alt="">+54 1234-567890</li>
            <li><img src="/public/svg/envelope.svg" alt="">blabla@mail.com</li>
            <li><img src="/public/svg/globe.svg" alt="">www.thispage.com</li>
            <li><img src="/public/svg/map-marker.svg" alt=""> Calle Falsa 123-Springfield </li>
        </ul>
  </section>
  <section class="tope">
    <a href="#top">
      <span id="ToTheTop"> </span>
    </a>
</section>
</div>
<div class="aviso">
<hr  class="linea">
<h4>Copyright 2021 - La Guia Gourmet | Todos los derechos reservados </h4>
</div>
</footer>
{% endblock %}

