<script src="/public/script/buscar.js"></script>
<h3 class="title">Encuentra al mejor restaurante para ti</h3>
<form class="barra-busqueda formulario" action="buscador" method="GET">
  <input
    class="selectClave"
    id="palabraClave"
    type="text"
    placeholder="Palabra Clave"
    name="clave"
  />
  <select name="categorias" id="categorias" class="selectClave" required>
    <option value="">Selecionar Categoria:</option>
  </select>
  <select name="provincias" id="provincias" class="selectClave" required>
    <option value="">Selecionar Ubicación:</option>
  </select>
  <input id="enviarBuscar" value="Buscar" class="input-enviar" onclick="getDatos();" type="submit" />
</form>
