<section class=" sidebar-dash contenedor">
  <section class="user-Profile">
    <h3 class="title User-Alias">{{datos['data'][0].input}}</h3>
    <img class="User-Img" src="{{datos['data'][7].input}}" alt="imagen de perfil del usuario" />
    <h4 class="User-LastName title">{{datos['data'][1].input}} {{datos['data'][2].input}}</h4>
    <h5 class="User-Email title" id="User-mail">{{datos['data'][3].input}}</h5>
  </section>
  <section>
    <h3 class="title">Configuración</h3>
    <ul>
      <li>
        <a href="/dashboard/account" class="settings-menu-link " title="Configuración">
          <div class="icon-font-component settings-icon">
            <span class="fa fa-2x fa-user"></span>
            <span class="settings-link-name">Cuenta</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/dashboard/password" class="settings-menu-link" title="Configuración">
          <div class="icon-font-component settings-icon">
            <span class="fa fa-2x fa-shield"></span>
            <span class="settings-link-name">Seguridad</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/dashboard/sitios" class="settings-menu-link" title="Configuración">
          <div class="icon-font-component settings-icon">
            <span class="fa fa-2x fa-cutlery"></span>
            <span class="settings-link-name">Sitios</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</section>