{% extends "base.html" %}

{% block title %}Registro de Nuevo Usuario{% endblock %}

{% block head %}
{{ parent() }}

<script src="/public/script/validar_form.js"></script>
{% endblock %}

{% block main %}


<div  id="contact-form" class="contenedor formulario" >
  <form
    id="formCuenta"
    enctype="multipart/form-data"
    method="post"
    name="formCuenta"
    action="/user/CreateUser"
  >
    <h3 class="title">
      REGISTRATE EN LA GUIA GOURMET Y DISFRUTA DEL CONTENIDO
    </h3>
    <div id="messageBox"></div>
    <fieldset>
      <legend class="title">Información del Usuario</legend>
      <div class="input-group">
        <label for="nameUser">Nombre de Usuario:</label>
      <input
        class="caja-texto {{datos['form'][0].estado}} "
        id="nameUser"
        type="text"
        name="nameUser"
        value="{{datos['form'][0].input}}"
        placeholder="Nombre de Usuario"
        required
        minlength="4" 
        maxlength="20"
        autocorrect="on"
      />
      <span  id="help-nameUser" class="error-text" >{{datos['form'][0].mensaje}}</span>
    </div>
    
    <div class="input-group">
        <label for="nombreUser">Nombre:</label>
      <input
        class="caja-texto {{datos['form'][1].estado}}"
        id="nombreUser"
        type="text"
        name="nombreUser"
        value="{{datos['form'][1].input}}"
        placeholder="Nombre"
        required
        minlength="4" 
        maxlength="40"
        autocorrect="on"
      />
      <span  id="help-nombreUser" class="error-text" >{{datos['form'][1].mensaje}}</span>
    </div>
    
      
    <div class="input-group">
        <label for="apellidoUser">Apellido:</label>
      <input
        class="caja-texto {{datos['form'][2].estado}}"
        id="apellidoUser"
        type="text"
        name="apellidoUser"
        value="{{datos['form'][2].input}}"
        placeholder="Apellido"
        required
        minlength="4" 
        maxlength="40"
        autocorrect="on"
      />
      <span  id="help-apellidoUser" class="error-text" >{{datos['form'][2].mensaje}}</span>
    </div>
    </fieldset>
    <fieldset>
      <legend class="title">Información de Contacto</legend>

     
      <div class="input-group">
        <label for="mailUser">Correo Electrónico:</label>
      <input
        class="caja-texto {{datos['form'][3].estado}}"
        id="mailUser"
        type="email"
        name="mailUser"
        value="{{datos['form'][3].input}}"
        placeholder="Correo Electronico"
        required
      />
      <span  id="help-mailUser" class="error-text" >{{datos['form'][3].mensaje}}</span>
    </div>
      <div class="input-group">
        <label for="paisUser">País:</label>
      <input
        class="caja-texto {{datos['form'][4].estado}}"
        id="paisUser"
        type="text"
        name="paisUser"
        value="{{datos['form'][4].input}}"
        placeholder="País"
        required
      />
      <span  id="help-paisUser" class="error-text" >{{datos['form'][4].mensaje}}</span>
    </div>
    <div class="input-group">
        <label for="telefonoUser">Telefono:</label>
      <input
        class="caja-texto {{datos['form'][5].estado}}"
        id="telefonoUser"
        type="tel"
        name="telefonoUser"
        value="{{datos['form'][5].input}}"
        placeholder="Telefono"
        pattern="^(\(\+?\d{2,3}\)[\*|\s|\-|\.]?(([\d][\*|\s|\-|\.]?){6})(([\d][\s|\-|\.]?){2})?|(\+?[\d][\s|\-|\.]?){8}(([\d][\s|\-|\.]?){2}(([\d][\s|\-|\.]?){2})?)?)$"
        required
      />
      <span  id="help-telefonoUser" class="error-text" >{{datos['form'][5].mensaje}}</span>
    </div>
    </fieldset>
    <fieldset>
      <div class="input-group">
        <label for="archivosubido">Imagen de perfil:</label>
        <div id="preview"></div>
        <input
          id="archivosubido"
          type="file"
          name="archivosubido"
          class="caja-texto {{datos['form'][7].estado}}"
          accept="image/jpeg"
          required
        />
       
        <span id="help-archivosubido" class="error-text">{{datos['form'][7].mensaje}}</span>
      </div>
    
    <div class="input-group">
        <label for="passwordNueva">Contraseña:</label>
      <input
      class="caja-texto {{datos['form'][6].estado}}"
        id="passwordNueva"
        type="password"
        name="passwordNueva"
        value=""
        placeholder=""
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
      />
      <span  id="help-passwordNueva" class="error-text" ></span>
    </div>
     
    <div class="input-group">
        <label for="passwordRepeat">Confirmar Contraseña:</label>
      <input
      class="caja-texto {{datos['form'][6].estado}}"
        id="passwordRepeat"
        type="password"
        name="passwordRepeat"
        value=""
        placeholder=""
        required   
      />
      <span  id="help-passwordRepeat" class="error-text" >{{datos['form'][6].mensaje}}</span>
    </div>
      <p>
        Nota: La contraseña debe contener entre 6 y 20 caracteres, una
        Mayuscula, una minuscula y al menos un digito.
      </p>
    </fieldset>
    <input
      class="input-enviar"
      type="submit"
      value="Enviar"
      name="Enviar"
    />
  </form>
</div>

{% endblock %}
