{% extends "base.html" %}
{% block head %}
{{ parent() }}
<script src="/public/script/validadorPassword.js"></script>
{% endblock %}
{% block title %} Seguridad{% endblock %}
{% block header %}

{% endblock %}

{% block main %}



<div class="side-bar">
  {{ include('partials/sidebar-dashboard.html') }}




</div>

<div id="contact-form" class="contenedor  dash">
  <h3 class="title"> Cambio de Contraseña</h3>
  <div id="messageBoxId"></div>
  <form id="formPassword" method="post" action="/cambioPassword" class="deja-comentario">
    <label for="passwordAntigua">Contraseña Actual</label>
    <input id="passwordAntigua" type="password" name="passwordAntigua" value="" placeholder="" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$" required />
    <br>
    <label for="passwordNueva">Contraseña Nueva</label>
    <input id="passwordNueva" type="password" name="passwordNueva" value="" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$" placeholder="" required />
    <br>
    <label for="passwordRepeat">Confirmar Contraseña </label>
    <input id="passwordRepeat" type="password" name="passwordRepeat" value="" placeholder="" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"/>

    <input class="input-enviar" type="submit" value="Guardar" name="Enviar" />
  </form>
</div>
{% endblock %}