{% extends "base.html" %}
{% block head %}
{{ parent() }}


<script src="/public/script/carusel.js"></script>
<script src="/public/script/tabs.js"></script>
<script src="/public/script/validadorPassword.js"></script>
<link rel="stylesheet" href="/public/css/dashboard.css">
{% endblock %}
{% block title %} Seguridad{% endblock %}
{% block header %}
 
{% endblock %}

{% block main %}

  
  <div id="wrapper">
    <div class="side-bar">
      {{ include('partials/sidebar-dashboard.html') }}
      
    </div>
  
    <div class="info">
      <div id="messageBoxId"></div>
      <form id="formPassword" method="post" action="/cambioPassword" class="deja-comentario">
        <label for="passwordAntigua">Contraseña Actual</label>
        <input id="passwordAntigua" type="password" name="passwordAntigua" value="" placeholder="" required />
        <br>
        <label for="passwordNueva">Contraseña Nueva</label>
        <input id="passwordNueva" type="password" name="passwordNueva" value="" placeholder="" required />
        <br>
        <label for="passwordRepeat">Confirmar Contraseña </label> 
        <input id="passwordRepeat" type="password" name="passwordRepeat" value="" placeholder="" required />
      
        <input type="submit" value="Guardar" name="Enviar" />
      </form>
    </div>
  </div>
   

{% endblock %}
