{% extends "base.html" %}
{% block head %}
{{ parent() }}

<script src="/public/script/dashboard.js"></script>

{% endblock %}
{% block title %}Sitios{% endblock %}


{% block main %}


<div class="side-bar">
  {{ include('partials/sidebar-dashboard.html') }}

</div>
<div id="contact-form" class="contenedor  dash">
  <h3 class="title"> Mis Restaurantes</h3>
  <div class="fila">
    <div id="columna">
      {% for a in datos.sitios %}
      <div class="tarjeta">
        <img src="{{ a.path }}" alt="{{ a.nombre }}">
        <a href="/resto?Sitio={{ a.idSitio|url_encode(true) }}">
          <h3 class="title">{{ a.nombre }}</h3>
        </a>
        <i class="fa-2x fa fa-trash icons" onclick="openModal('{{ a.idSitio }}');"></i>
        <a href="/dashboard/plato?Sitio={{ a.idSitio|url_encode(true) }}&Name={{ a.nombre |url_encode(true)}}"><i
            class="fa-2x fa fa-plus icons" ></i> </a>
      </div>
      {% endfor %}
      <div class="tarjeta">
        <div class="plus-text">
          <a href="/resto/new"><i class=" fa-5x fa fa-plus-circle icons"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="id02" class="modal delete formulario">

  <!-- Modal Content for delete-->
  <form class="contenedor animate" enctype="multipart/form-data" method="post" id="formDelete">
    <div class="imgcontainer">
      <h3 class="title" id="MensajeAtencion">ATENCIÓN</h3>
      <span onclick="closeModal()" class="close" title="Close Modal">&times;</span>
      <div id="messageBox"></div>
      <p class="title"> ¿Esta seguro de eliminar el sitio?</p>
      <button id="eliminar_sitio" class="input-enviar" onclick="eliminarSitio();" >Aceptar</button>

      <button onclick="closeModal();">Cancelar</button>
  </form>
</div>

{% endblock %}