{% extends "base.html" %}
{% block head %}
{{ parent() }}

<script src="/public/script/dashboard.js"></script>

{% endblock %}
{% block title %}Sitios{% endblock %}


{% block main %}


<div id="wrapper">
  <div class="side-bar">
    {{ include('partials/sidebar-dashboard.html') }}

  </div>
</div>
<div id="contact-form" class="contenedor dash">
  <h3 class="title"id="idSitio">{{ datos.idSitio }}-{{ datos.NameSitio }}</h3>
  <h3 class="title"> PLATOS:</h3>
  <div class="fila">
    <div id="columna">
      {% for a in datos.platos %}
      <div class="tarjeta">
        <img src="{{ a.path }}" alt="{{ a.nombre }}">
        <h3 class="title">{{ a.nombre }}</h3>
        <i class=" fa-2x fa fa-trash icons" title="Eliminar Plato" onclick="openModalPlato('{{ a.idPlato }}','{{ datos.idSitio }}');"></i>
      </div>
      {% endfor %}
      <div class="tarjeta">
        <div class="plus-text">
          <a href="/plato/new?Sitio={{ datos.idSitio|url_encode(true) }}"><i
              class=" fa-3x fa fa-plus-circle icons" title="Agregar nuevo Plato"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<aside id="id02" class="modal delete formulario">
  <!-- Modal Content for delete-->
  <section class="imgcontainer">
    <form class="contenedor animate" enctype="multipart/form-data" method="post" id="formDelete">
      <h3 class="title" id="MensajeAtencion">ATENCIÓN</h3>
      <span onclick="closeModal()" class="close" title="Close Modal">&times;</span>
      <div id="messageBox"></div>
      <p class="title"> ¿Esta seguro de eliminar el plato?</p>
      <button id="eliminar_sitio" class="input-enviar" onclick="eliminarPlatos();">Aceptar</button>
      <button class="input-enviar" onclick="closeModal();">Cancelar</button>
    </form>
  </section>
</aside>

{% endblock %}