{% extends "base.html" %}
{% block head %}
{{ parent() }}


<script src="/public/script/carusel.js"></script>
<script src="/public/script/tabs.js"></script>
<link rel="stylesheet" href="/public/css/dashboard.css">
<link rel="stylesheet" href="/public/css/resultados.css">

<link rel="stylesheet" href="/public/css/index.css">
<link rel="stylesheet" href="/public/css/carrusel.css">
<link rel="stylesheet" href="/public/css/search-bar.css">
<link rel="stylesheet" href="/public/css/resultados.css">
<link rel="stylesheet" href="/public/css/platoSingle.css">


{% endblock %}
{% block title %}Sitios{% endblock %}
{% block header %}

{% endblock %}

{% block main %}


<div id="wrapper">
  <div class="side-bar">
    {{ include('partials/sidebar-dashboard.html') }}

  </div>
  <div class="info">

    <h3> Mis Restaurantes</h3>
    <div class="fila">
      <div id="columna">
        {% for a in datos.sitios %}
        <div class="tarjeta">
          <div class="plates-text">
            <img src="{{ a.path }}" alt="Denim Jeans">
            <a href="/resto?Sitio={{ a.idSitio }}">
              <h3>{{ a.nombre }}</h3>
            </a>
            <a href="resto/new"><i class=" fa-2x fa fa-pencil"></i> </a>
            <a href="resto/new"><i class=" fa-2x fa fa-trash "></i> </a>
            <a href="/plato/new?Sitio={{ a.idSitio }}&Name={{ a.nombre }}"><i class=" fa-2x fa fa-plus"></i> </a>
          </div>
        </div>
        {% endfor %}
        <div class="tarjeta">
          <div class="plus-text">
            <a href="/resto/new"><i class=" fa-3x fa fa-plus-circle"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>








  {% endblock %}