{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
<script src="/public/script/carusel.js"></script>

{% endblock %}

{% block main %}

<!-- Slideshow container -->
<section class="slideshow-container index contenedor">
  <!-- Full-width images with number and caption text -->
  <ul>
  <li class="mySlides fade">
    <img src="public/res/home-banner-1.jpg" alt="">
  </li>
  <li class="mySlides fade">
    <img src="public/res/home-banner-2.jpg" alt="">
  </li>
  <li class="mySlides fade">
    <img src="public/res/home-banner-4.jpg" alt="">
  </li>
  <li class="mySlides fade">
    <img src="public/res/home-banner-5.jpg" alt="">
  </li>
  <li class="mySlides fade">
    <img src="public/res/home-banner-6.jpg" alt="">
  </li>
</ul> 
 <!-- Next and previous buttons -->
 <div class="controles">
 <a id="prev" class="prev" onclick="retrocederFoto()" >&#10094;</a>
 <a id="next" class="next"  onclick="pasarFoto()" >&#10095;</a>
</div>
  <!-- The dots/circles -->
  <ul class="circles" style="text-align:center">
    <li class="dot" onclick="currentSlide(0)"></li>
    <li class="dot" onclick="currentSlide(1)"></li>
    <li class="dot" onclick="currentSlide(2)"></li>
    <li class="dot" onclick="currentSlide(3)"></li>
    <li class="dot" onclick="currentSlide(4)"></li>
  </ul>
   
</section>


<!-- search  module-->

  <section id="search" class="contenedor">
    {{ include('partials/search-bar.html') }}
  </section>

  <section class="slideshow-places contenedor" >
    <h3 class="title"> Restaurantes Destacados</h3>

      <ul id="columna">
        {% for a in datos.Destacados %}
        <li class="fila">
        <article class="tarjeta">
          <img src="{{ a.path }}" alt="Denim Jeans">
          <a href="/resto?Sitio={{ a.idSitio }}">
            <h3 class="title">{{ a.nombre }}</h3>
          </a>
          <p><i class=" fa fa-map-marker  "></i> {{ a.ciudad }},{{ a.provincia }}</p>
        </article>
      </li>
        {% endfor %}
    </ul>
  </section>


  {% endblock %}